.root
{
    -fx-font-family: "Comic Sans MS";
    -fx-orange: #D45113;
    -fx-light-grey: #E6E8E6;
    -fx-dark-blue: #140F2D;
}
*
{
    -fx-font-weight: bold;
    -fx-text-fill: -fx-dark-blue;
}
.options
{
    -fx-background-color: -fx-light-grey;
    -fx-background-radius: 8;
    -fx-border-radius: 3;
    -fx-border-width: 2;
    -fx-border-color: -fx-orange;
    -fx-pref-height: 25;
    -fx-pref-width: 25;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-orange;
    -fx-padding: 0 0 2 0;
}
.options:hover
{
    -fx-background-color: -fx-orange;
    -fx-text-fill: -fx-light-grey;
}
.options:pressed
{
    -fx-background-color: -fx-dark-blue;
    -fx-text-fill: -fx-orange;
}
.optionsLarge
{
    -fx-min-height: 40;
    -fx-min-width: 40;
    -fx-font-size: 20;
    -fx-border-width: 4;
    -fx-padding: 0 0 3 0;
}
.menu
{
    -fx-background-color: -fx-light-grey;
    -fx-border-radius: 0;
    -fx-pref-height: 60;
    -fx-pref-width: 250;
    -fx-font-size: 20;
}
.aside
{
    -fx-background-color: -fx-light-grey;


}
.logo
{
    -fx-alignment: center;
}
.logo:hover
{
    -fx-effect: dropshadow(three-pass-box, black, 50.0, 0.01, 5.0, 0.1);
}
.main
{
    -fx-background-color: -fx-light-grey;
    -fx-effect: innershadow(three-pass-box, black, 50.0, 0.01, 5.0, 0.1);
}
.title
{
    -fx-font-size: 30;
}
.subtitle
{
    -fx-font-size: 20;
}
.actionButton
{
    -fx-background-color: -fx-light-grey;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-border-width: 4;
    -fx-border-color: -fx-orange;
    -fx-pref-height: 50;
    -fx-pref-width: 240;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-orange;
    -fx-padding: 0 0 3 0;
}
.actionButton:hover
{
    -fx-background-color: -fx-orange;
    -fx-text-fill: -fx-light-grey;
}
.actionButton:pressed
{
    -fx-background-color: -fx-dark-blue;
    -fx-text-fill: -fx-orange;
}
.seat
{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 4;
    -fx-pref-height: 45;
    -fx-pref-width: 45;
    -fx-font-size: 20;
    -fx-padding: 0 0 2 0;
}
.emptyNormalSeat
{
    -fx-background-color: -fx-light-grey;
    -fx-border-color: -fx-dark-blue;
    -fx-text-fill: -fx-dark-blue;
}
.emptyNormalSeat:selected
{
    -fx-background-color: -fx-dark-blue;
    -fx-border-color: -fx-dark-blue;
    -fx-text-fill: -fx-orange;
}
.takenNormalSeat
{
    -fx-background-color: -fx-dark-blue;
    -fx-text-fill: -fx-dark-blue;
}
.emptyVipSeat
{
    -fx-background-color: -fx-light-grey;
    -fx-border-color: -fx-orange;
    -fx-text-fill: -fx-orange;
}
.emptyVipSeat:selected
{
    -fx-background-color: -fx-orange;
    -fx-text-fill: -fx-dark-blue;
}
.takenVipSeat
{
    -fx-background-color: -fx-orange;
    -fx-text-fill: -fx-light-grey;
}
.titleMovie
{
    -fx-font-family: "Comic Sans MS";
    -fx-background-color: -fx-light-grey;
    -fx-border-radius: 0;
    -fx-font-size: 20;
}
.itemMovie
{
    -fx-border-color: -fx-dark-blue;
    -fx-border-width: 2;
    -fx-background-color: -fx-light-grey;
    -fx-border-style: hidden hidden solid hidden;
}
.scroll-pane
{
    -fx-border-color: -fx-dark-blue;
    -fx-border-width: 4;
    -fx-background: -fx-light-grey;
    -fx-border-style: solid hidden hidden hidden;
}
.hourButton
{
    -fx-background-color: -fx-light-grey;
    -fx-background-radius: 30;
    -fx-border-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: -fx-orange;
    -fx-pref-height: 30;
    -fx-pref-width: 70;
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-orange;
    -fx-padding: 0 0 3 0;
}
.hourButton:hover
{
    -fx-background-color: -fx-orange;
    -fx-text-fill: -fx-light-grey;
}
.hourButton:pressed
{
    -fx-background-color: -fx-dark-blue;
    -fx-text-fill: -fx-orange;
}
.tag
{
    -fx-background-color: -fx-light-grey;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-border-color: -fx-dark-blue;
    -fx-pref-height: 25;
    -fx-pref-width: 80;
    -fx-font-size: 10;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-dark-blue;
    -fx-padding: 0 0 1 0;
}