<html xmlns:th="http://www.thymeleaf.org/%22%3E" lang="pl">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <style type='text/css'>
            * { font-family: 'Comic Sans MS'; }
    </style>
</head>
<body style="color: #140F2D; margin: 0; padding:  0; font-family: 'Comic Sans MS'">
<h1 style="font-size: 30px; text-align: center">
    <span>Potwierdzenie rezerwacji miejsc</span>
</h1>
<h2 style="font-size: 20px">
    <span th:text="'Dziękujemy za rezerwacje ' + ${imieNazwisko} + '!'"></span>
</h2>
<h3 style="font-size: 15px">
    <span>Rezerwacja:</span>
</h3>
<h3 style="font-size: 15px">
    <span th:text="'Imię i nazwisko: ' + ${imieNazwisko}"></span>
</h3>
<h3 style="color: #D45113; font-size: 15px; text-decoration: italic">
    <span th:text="'Adres e-mail: ' + ${email}"></span>
</h3>
<h3 style="font-size: 15px">
    <span th:text="'Miejsca standard: ' + ${standardSeatsId}"></span>
</h3>
<h3 style="font-size: 15px">
    <span th:text="'Miejsca vip: ' + ${vipSeatsId}"></span>
</h3>
<h3 style="font-size: 15px">
    <span th:text="'Informacje o seansie:'"></span>
</h3>
<h3 style="font-size: 15px">
    <span th:text="'Seans odbędzie się w ' + ${day} + ' o godzienie ' + ${hour} + '.'"></span>
</h3>
<h3 style="font-size: 15px">
    <span th:text="'Tytuł: ' + ${title}"></span>
</h3>

</body>
</html>